Afin de traiter ces exercices vous aurez besoin de notions de bases en python.  

## Boucle conditionnelle (if, else, elif):

``` python
if condition1:
    instruction1
elif condition2:
    instruction2
else:
    instruction3
```

exemple:

``` python
if a > 0:
    print("a est positif")
elif a < 0:
    print("a est négatif")
else:
    print("a est nul")
```


## Boucle for:

#### Methode 1 (sans index):

``` python
array = [1, 2, 3, 4, 5]
for i in array:
    print(i)
```

#### Methode 2 (avec index):

``` python
liste = [1, 2, 3, 4, 5]
for i, element in enumerate(liste):
    print(i, element)
```

## Boucle while:

``` python
i = 0
while i < 10:
    print(i)
    i += 1
```

## Liste:

``` python
liste = [1, 2, 3, 4, 5]
```

## Dictionnaire:

``` python
dictionnaire = {"cle1": "valeur1", "cle2": "valeur2"}
```

**Exercice 1:**

Compléter la fonction is_palindrome afin de vérifier si une phrase est un palindrome ou non.
Pour un rappeler, un palindrome est un mot ou groupe de mots qui peut se lire indifféremment de gauche à droite ou de droite à gauche en gardant le même sens (ex: Tenet)

La fonction prend une chaine de caractère en entrée et retourne un booléen.

In [9]:
def is_palindrome(a):
    return True

In [10]:
assert is_palindrome("Bonjour") == False
assert is_palindrome("TeneT") == True

**Bonus:**

La phrase "Tu l'as trop écrasé, César, ce Port-Salut" est un palindrome, mais est-ce que ta fonction le détecte ? Crée une fonction afin que ta fonction réussisse. Tu peux modifier voire supprimer des caractères pour le faire.

In [14]:
car = {
        "à" : "a",
        "ä" : "a"
    }
    
def text_processing(a):
    return a

In [15]:
assert is_palindrom(text_processing("Tu l'as trop écrasé, César, ce Port-Salut")) == True

Exercice 2:

Passons au tri ! Completer les fonctions de tri à bulles et de tri par insertion.
Le tri à bulles
L'idée est de faire aller vers la fin de la liste les éléments les plus grands en les déplaçant de la manière suivante :

1. On considère le premier élément de notre liste et on le compare au second. S'il est plus grand on les intervertit.
2. On considère maintenant le second élément et on le compare au troisième. S'il est plus grand on les intervertit.
3. On continue comme ça jusqu'à arriver à la fin de la liste. A cet étape, on a mis forcément l'élément le plus grand en fin de liste.
4. On recommence les 3 premières étapes mais cette fois-ci en n'allant que jusqu'à l'avant-dernière position (puisque le plus grand est déjà en dernière position)
5. On continue ainsi en diminuant à chaque fois l'endroit où on arrête les comparaisons.

Ce tri s'appelle à bulles car à chaque étape, on fait remonter "la bulle" la plus grosse vers la fin de la liste.

Pour des explications peut-être plus claires et des exemples on peut aller voir Wikipédia

Le but de cet exercice est de faire un programme qui tri une liste en utilisant le tri à bulles.

In [27]:
def bubbleSort(liste_a_trier):
  return

In [28]:
arr = [64, 34, 25, 12, 22, 11, 90]
bubbleSort(arr) 
assert arr == [11, 12, 22, 25, 34, 64, 90]

Tri par insertion

Le tri par insertion est similaire à la façon dont on range les cartes dans nos mains quand on joue. Quand on rajoute une carte dans un main déjà triée, on l'insère directement à sa place et on répète l'opération pour chaque carte à rajouter à notre main. L'idée du tri par insertion est la même :

1. On commence au deuxième élément de la liste. On le met de coté (dans une variable). S'il est plus petit que le premier, on met le premier à la place du second et le second (qui était sauvegardé dans une var iable) à la place du premier.
2. On considère maintenant le troisième élément. On le met de coté dans une variable. S'il est plus petit que le second, on met le second à la place du troisième. S'il est plus petit que le premier, on met le premier à la place du second.
3. Ainsi de suite, en décalant à chaque fois d'un cran vers la droite tous les éléments qui sont plus grand que l'élément qu'on considère."

In [30]:
def insertionSort(liste_a_trier):
  return

In [31]:
arr = [64, 34, 25, 12, 22, 11, 90]
insertionSort(arr) 
assert arr == [11, 12, 22, 25, 34, 64, 90]

**Exercice 3:**

Le QuickSort est un algorithme très connu de tri puisqu'il est l'un des plus efficace et polyvalent.
Il prend un élément comme pivot et divise le tableau donné autour du pivot choisi. 

1. Choisissez un élément aléatoire, x, comme pivot (le dernier de la liste par exemple).

2. Divisez la liste en deux : les éléments inférieurs à l'élément pivot, et les éléments supérieurs à l'élément pivot.

3. Triez récursivement chacune des petites listes.

![image.png](https://www.tutorialspoint.com/data_structures_algorithms/images/quick_sort_partition_animation.gif)

```
partitionner(tableau T, entier premier, entier dernier, entier pivot)
    échanger T[pivot] et T[dernier]  // échange le pivot avec le dernier du tableau , le pivot devient le dernier du tableau
    j := premier
    pour i de premier à dernier - 1 // la boucle se termine quand i = (dernier-1).
        si T[i] <= T[dernier] alors
            échanger T[i] et T[j]
            j := j + 1
    échanger T[dernier] et T[j]
    renvoyer j

tri_rapide(tableau T, entier premier, entier dernier)
        si premier < dernier alors
            pivot := choix_pivot(T, premier, dernier)
            pivot := partitionner(T, premier, dernier, pivot)
            tri_rapide(T, premier, pivot-1)
            tri_rapide(T, pivot+1, dernier)
```

In [16]:
def partition(arr, low, high):
    return 


def quickSort(arr, low, high):
    return

In [21]:
arr = [10, 7, 8, 9, 1, 5]
quickSort(arr, 0, len(arr)-1)
assert arr == [1, 5, 7, 8, 9, 10]

Exercice 4 : Lire et trier un CSV

Maintenant que nous avons implémenté des algorithmes, nous allons commencer à travailler avec de vraie donnée. Pour cela, il va déjà falloir apprendre à les manipuler. On vous propose d'utiliser Pandas, une bibliothèque très pratique pour la manipulation de donnée !

1. Ouvrez le fichier CSV "california_housing_test.csv" qui se trouve dans le dossier "sample_data" dans l'interface de gauche et mettez-le dans une variable.
2. Afficher les 3 premières lignes de ce CSV
3. Trier les données par latitude croissante
4. Afficher les 3 premières lignes des données triées

Bonus: 
5. Afficher sous la forme de courbe les données non triées puis triées

In [32]:
#Importer Pandas

In [39]:
#Creer une variable df et liser le fichier CSV

In [40]:
#Afficher les 3 premières lignes

   longitude  latitude  ...  median_income  median_house_value
0    -122.05     37.37  ...         6.6085            344700.0
1    -118.30     34.26  ...         3.5990            176500.0
2    -117.81     33.78  ...         5.7934            270500.0

[3 rows x 9 columns]

In [42]:
#Trier et afficher les nouvelles 3 première lignes

      longitude  latitude  ...  median_income  median_house_value
1208    -117.09     32.56  ...         4.8984            151500.0
2371    -117.08     32.57  ...         2.2500            103200.0
1617    -117.12     32.57  ...         2.6715            133300.0

[3 rows x 9 columns]